body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #e0e0e0; /* Background color for the navbar */
  padding: 0px 0;
  position: fixed;
  bottom: 0;
}

.nav-item,
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #78be20;
  font-size: 20px;
  text-decoration: none;
}

.icon {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-bottom: 5px;
}

/* Medications.css */
.medications-container {
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: auto;
}

.title {
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  font-size: 1.2em;
  color: green;
  margin: 0;
  text-align: center;
}

.medications-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
  max-height: 20vh;
  overflow: auto;
}

.medication-item {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.medication-name,
.medication-dosage,
.medication-date {
  color: green;
  margin: 5px 0;
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.medication-name {
  width: 100px;
}

.medication-dosage {
  width: 60px;
}

.medication-date {
  width: 80px;
}
