
.ConfigurationTextonlyoflinesOnelineShowcloseaffordanceFalse_ConfigurationTextonlyoflinesOnelineShowcloseaffordanceFalse {
	width: 344px;
	height: 48px;
	display: flex;
	padding-top: 14px;
	padding-right: 16px;
	padding-bottom: 14px;
	padding-left: 16px;
	box-sizing: border-box;
	background: rgba(50,47,53,1.00);
	border-radius: 4px;
}