
.TypeNullStateEnabled_TypeNullStateEnabled {
	width: 48px;
	height: 48px;
	display: flex;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}