
.Wireframe1_1_Wireframe1 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.Wireframe1_1_Wireframe1 .Rectangle6 {
	position: absolute;
	left: 21px;
	top: 636px;
	width: 380px;
	height: 187px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Rectangle1 {
	position: absolute;
	left: 21px;
	top: 22px;
	width: 380px;
	height: 45px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle7 {
	position: absolute;
	left: 498px;
	top: 22px;
	width: 380px;
	height: 45px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle12 {
	position: absolute;
	left: 955px;
	top: 22px;
	width: 459px;
	height: 45px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle14 {
	position: absolute;
	left: 955px;
	top: 554px;
	width: 459px;
	height: 82px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle15 {
	position: absolute;
	left: 955px;
	top: 647px;
	width: 459px;
	height: 82px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle16 {
	position: absolute;
	left: 955px;
	top: 741px;
	width: 459px;
	height: 82px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .PickupMetroprololPrescription {
	position: absolute;
	left: 970px;
	top: 768px;
	width: 266px;
	height: 74px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .Rectangle20 {
	position: absolute;
	left: 1313px;
	top: 759px;
	width: 95px;
	height: 37px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 ._300PM {
	position: absolute;
	left: 1324px;
	top: 770px;
	width: 90px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .notifications {
	position: absolute;
	left: 1269px;
	top: 766px;
	width: 32px;
}
.Wireframe1_1_Wireframe1 .notifications .icon {
	position: absolute;
	left: 5.333343505859375px;
	top: 2px;
	width: 66.66666269302368%;
	height: 83.33333333333334%;
}
.Wireframe1_1_Wireframe1 .Edit5 {
	position: absolute;
	left: 1185px;
	top: 764px;
	width: 32px;
	height: 24px;
}
.Wireframe1_1_Wireframe1 .Edit5 .Icon {
	position: absolute;
	left: 4px;
	top: 2.878662109375px;
	width: 75%;
	height: 71.33883635203043%;
}
.Wireframe1_1_Wireframe1 .Rectangle17 {
	position: absolute;
	left: 955px;
	top: 834px;
	width: 459px;
	height: 82px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle9 {
	position: absolute;
	left: 498px;
	top: 489px;
	width: 380px;
	height: 45px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle4 {
	position: absolute;
	left: 20px;
	top: 571px;
	width: 380px;
	height: 45px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .Rectangle3 {
	position: absolute;
	left: 21px;
	top: 301px;
	width: 380px;
	height: 45px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .PastMedications {
	position: absolute;
	left: -138px;
	top: 37px;
	width: 513px;
	height: 58px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(59,131,63,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .Navigationbar {
	position: absolute;
	left: 0px;
	top: 944px;
	width: 1440px;
	background: rgba(217,217,217,1.00);
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem1 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 469.3333435058594px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem1 .iconcontainer {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 64px;
	height: 32px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem1 .iconcontainer .statelayer {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 64px;
	height: 32px;
	display: flex;
	padding-top: 4px;
	padding-right: 20px;
	padding-bottom: 4px;
	padding-left: 20px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(29,25,43,0.08);
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem1 .iconcontainer .statelayer .Icon_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem1 .iconcontainer .statelayer .Icon_1 .mood {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem1 .labeltext {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	height: 20%;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 12px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem2 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 469.33331298828125px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem2 .iconcontainer_1 {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 64px;
	height: 32px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem2 .iconcontainer_1 .statelayer_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 64px;
	height: 32px;
	display: flex;
	padding-top: 4px;
	padding-right: 20px;
	padding-bottom: 4px;
	padding-left: 20px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(29,27,32,0.08);
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem2 .iconcontainer_1 .statelayer_1 .Icon_2 {
	position: relative;
	flex: none;
	margin-right: 10px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem2 .iconcontainer_1 .statelayer_1 .Icon_2 .icon_1 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem2 .labeltext_1 {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	height: 20%;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem3 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 469.33331298828125px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem3 .iconcontainer_2 {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	width: 64px;
	height: 32px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem3 .iconcontainer_2 .statelayer_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 64px;
	height: 32px;
	display: flex;
	padding-top: 4px;
	padding-right: 20px;
	padding-bottom: 4px;
	padding-left: 20px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(29,27,32,0.08);
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem3 .iconcontainer_2 .statelayer_2 .Icon_3 {
	position: relative;
	flex: none;
	margin-right: 10px;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem3 .iconcontainer_2 .statelayer_2 .Icon_3 .icon_2 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}
.Wireframe1_1_Wireframe1 .Navigationbar .Navitem3 .labeltext_2 {
	position: relative;
	flex: none;
	margin-bottom: 4px;
	height: 20%;
	align-self: stretch;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .CurrentPrescriptionsRefillDate {
	width: 320px;
	height: 16px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.Wireframe1_1_Wireframe1 .CurrentPrescriptionsRefillDate .CurrentPrescriptionsRefillDate_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 320px;
	height: 16px;
	color: rgba(59,131,63,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .CurrentPrescriptionsRefillDate_2 {
	position: absolute;
	left: 36px;
	top: 585px;
	width: 341px;
}
.Wireframe1_1_Wireframe1 .CurrentPrescriptionsRefillDate_2 .CurrentPrescriptionsRefillDate_3 {
	width: 341px;
	font-weight: 500;
}
.Wireframe1_1_Wireframe1 .ScheduleaDoctorsAppointment {
	position: absolute;
	left: 527px;
	top: 37px;
	width: 367px;
	height: 25px;
	color: rgba(59,131,63,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .ScheduleaVaccineAppointment {
	position: absolute;
	left: 525px;
	top: 505px;
	width: 326px;
	height: 26px;
	color: rgba(59,131,63,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .location_on {
	position: absolute;
	left: 501px;
	top: 76px;
	width: 26px;
	height: 32px;
}
.Wireframe1_1_Wireframe1 .location_on .icon_3 {
	position: absolute;
	left: 5.416656494140625px;
	top: 2.6666259765625px;
	width: 58.333338223970856%;
	height: 83.33333134651184%;
}
.Wireframe1_1_Wireframe1 .location_on_1 {
	position: absolute;
	left: 501px;
	top: 547px;
	width: 26px;
	height: 32px;
}
.Wireframe1_1_Wireframe1 .location_on_1 .icon_4 {
	position: absolute;
	left: 5.416656494140625px;
	top: 2.6666259765625px;
	width: 58.333338223970856%;
	height: 83.33333134651184%;
}
.Wireframe1_1_Wireframe1 .Rectangle10 {
	position: absolute;
	left: 20px;
	top: 80px;
	width: 380px;
	height: 196px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar {
	position: absolute;
	left: 29px;
	top: 92px;
	width: 140px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar .Supportingtext {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_1 {
	position: absolute;
	left: 183px;
	top: 92px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_1 .Supportingtext_1 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_2 {
	position: absolute;
	left: 183px;
	top: 153px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_2 .Supportingtext_2 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_3 {
	position: absolute;
	left: 183px;
	top: 214px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_3 .Supportingtext_3 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_4 {
	position: absolute;
	left: 274px;
	top: 92px;
	width: 119px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_4 .Supportingtext_4 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_5 {
	position: absolute;
	left: 29px;
	top: 153px;
	width: 140px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_5 .Supportingtext_5 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_6 {
	position: absolute;
	left: 274px;
	top: 153px;
	width: 119px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_6 .Supportingtext_6 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_7 {
	position: absolute;
	left: 29px;
	top: 214px;
	width: 140px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_7 .Supportingtext_7 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_8 {
	position: absolute;
	left: 274px;
	top: 214px;
	width: 119px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_8 .Supportingtext_8 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Rectangle11 {
	position: absolute;
	left: 21px;
	top: 359px;
	width: 380px;
	height: 196px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_9 {
	position: absolute;
	left: 183px;
	top: 371px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_9 .Supportingtext_9 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_10 {
	position: absolute;
	left: 184px;
	top: 432px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_10 .Supportingtext_10 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_11 {
	position: absolute;
	left: 184px;
	top: 493px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_11 .Supportingtext_11 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_12 {
	position: absolute;
	left: 184px;
	top: 641px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_12 .Supportingtext_12 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_13 {
	position: absolute;
	left: 184px;
	top: 702px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_13 .Supportingtext_13 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_14 {
	position: absolute;
	left: 184px;
	top: 763px;
	width: 77px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_14 .Supportingtext_14 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_15 {
	position: absolute;
	left: 30px;
	top: 371px;
	width: 139px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_15 .Supportingtext_15 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_16 {
	position: absolute;
	left: 30px;
	top: 432px;
	width: 139px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_16 .Supportingtext_16 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_17 {
	position: absolute;
	left: 30px;
	top: 493px;
	width: 139px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_17 .Supportingtext_17 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_18 {
	position: absolute;
	left: 275px;
	top: 493px;
	width: 119px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_18 .Supportingtext_18 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_19 {
	position: absolute;
	left: 275px;
	top: 432px;
	width: 119px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_19 .Supportingtext_19 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Snackbar_20 {
	position: absolute;
	left: 275px;
	top: 371px;
	width: 119px;
	background: rgba(234,234,234,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 .Snackbar_20 .Supportingtext_20 {
	position: relative;
	flex: none;
	margin-right: 4px;
	width: 100%;
	height: 20px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .DailySchedule {
	position: absolute;
	left: 991px;
	top: 37px;
	width: 370px;
	height: 35px;
	color: rgba(59,131,63,1.00);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Rectangle13 {
	position: absolute;
	left: 955px;
	top: 489px;
	width: 459px;
	height: 45px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Wireframe1_1_Wireframe1 .MonAug17 {
	position: absolute;
	left: 991px;
	top: 504px;
	width: 370px;
	height: 35px;
	color: rgba(59,131,63,1.00);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
}
.Wireframe1_1_Wireframe1 .Sunrise {
	position: absolute;
	left: 1157px;
	top: 29px;
	width: 33px;
	height: 25px;
}
.Wireframe1_1_Wireframe1 .Sunrise .Icon_4 {
	visibility: hidden;
	position: absolute;
	left: 1.375px;
	top: 2.083251953125px;
	width: 91.66666666666666%;
	height: 83.33332824707031%;
}
.Wireframe1_1_Wireframe1 .DoctorsAppointment {
	position: absolute;
	left: 970px;
	top: 585px;
	width: 266px;
	height: 74px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .Rectangle18 {
	position: absolute;
	left: 1313px;
	top: 576px;
	width: 95px;
	height: 37px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 ._900AM {
	position: absolute;
	left: 1324px;
	top: 587px;
	width: 90px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .notifications_1 {
	position: absolute;
	left: 1269px;
	top: 583px;
	width: 32px;
}
.Wireframe1_1_Wireframe1 .notifications_1 .icon_5 {
	position: absolute;
	left: 5.333343505859375px;
	top: 2px;
	width: 66.66666269302368%;
	height: 83.33333333333334%;
}
.Wireframe1_1_Wireframe1 .Edit3 {
	position: absolute;
	left: 1185px;
	top: 581px;
	width: 32px;
	height: 24px;
}
.Wireframe1_1_Wireframe1 .Edit3 .Icon_5 {
	position: absolute;
	left: 4px;
	top: 2.878662109375px;
	width: 75%;
	height: 71.33883635203043%;
}
.Wireframe1_1_Wireframe1 .VaccineAppointment {
	position: absolute;
	left: 970px;
	top: 674px;
	width: 266px;
	height: 74px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .Rectangle19 {
	position: absolute;
	left: 1313px;
	top: 665px;
	width: 95px;
	height: 37px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 ._1100AM {
	position: absolute;
	left: 1324px;
	top: 676px;
	width: 90px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .notifications_2 {
	position: absolute;
	left: 1269px;
	top: 672px;
	width: 32px;
}
.Wireframe1_1_Wireframe1 .notifications_2 .icon_6 {
	position: absolute;
	left: 5.333343505859375px;
	top: 2px;
	width: 66.66666269302368%;
	height: 83.33333333333334%;
}
.Wireframe1_1_Wireframe1 .Edit4 {
	position: absolute;
	left: 1185px;
	top: 670px;
	width: 32px;
	height: 24px;
}
.Wireframe1_1_Wireframe1 .Edit4 .Icon_6 {
	position: absolute;
	left: 4px;
	top: 2.878662109375px;
	width: 75%;
	height: 71.33883635203043%;
}
.Wireframe1_1_Wireframe1 .PickupMetroprololPrescription_1 {
	position: absolute;
	left: 970px;
	top: 861px;
	width: 266px;
	height: 74px;
	color: rgba(86,174,90,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .Rectangle21 {
	position: absolute;
	left: 1313px;
	top: 852px;
	width: 95px;
	height: 37px;
	background: rgba(217,217,217,1.00);
	border-radius: 21.049999237060547px;
}
.Wireframe1_1_Wireframe1 ._500PM {
	position: absolute;
	left: 1324px;
	top: 863px;
	width: 90px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
}
.Wireframe1_1_Wireframe1 .notifications_3 {
	position: absolute;
	left: 1269px;
	top: 859px;
	width: 32px;
}
.Wireframe1_1_Wireframe1 .notifications_3 .icon_7 {
	position: absolute;
	left: 5.333343505859375px;
	top: 2px;
	width: 66.66666269302368%;
	height: 83.33333333333334%;
}
.Wireframe1_1_Wireframe1 .Edit6 {
	position: absolute;
	left: 1185px;
	top: 857px;
	width: 32px;
	height: 24px;
}
.Wireframe1_1_Wireframe1 .Edit6 .Icon_7 {
	position: absolute;
	left: 4px;
	top: 2.878662109375px;
	width: 75%;
	height: 71.33883635203043%;
}