
.Wireframe1_Wireframe1 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(179,179,179,1.00);
}
.Wireframe1_Wireframe1 .FormLogIn {
	position: absolute;
	left: 483px;
	top: 292px;
	width: 474px;
	height: 440px;
	background: rgba(234,234,234,1.00);
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.Wireframe1_Wireframe1 .FormLogIn .InputField {
	position: relative;
	flex: none;
	margin-bottom: 24px;
	align-self: stretch;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField .Label {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	height: 22px;
	align-self: stretch;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.399999618530273px;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField .Description {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 8px;
	height: 22px;
	align-self: stretch;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.399999618530273px;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField .Input {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	height: 40px;
	align-self: stretch;
	display: flex;
	padding-top: 12px;
	padding-right: 16px;
	padding-bottom: 12px;
	padding-left: 16px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
	border-radius: 8px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.Wireframe1_Wireframe1 .FormLogIn .InputField .Input .Value {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 394px;
	height: 16px;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField .Error {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 8px;
	width: 37px;
	height: 22px;
	color: rgba(30,30,30,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.399999618530273px;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField_1 {
	position: relative;
	flex: none;
	margin-bottom: 24px;
	align-self: stretch;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField_1 .Label_1 {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	height: 22px;
	align-self: stretch;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.399999618530273px;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField_1 .Description_1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 8px;
	height: 22px;
	align-self: stretch;
	color: rgba(117,117,117,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.399999618530273px;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField_1 .Input_1 {
	position: relative;
	flex: none;
	margin-bottom: 8px;
	height: 40px;
	align-self: stretch;
	display: flex;
	padding-top: 12px;
	padding-right: 16px;
	padding-bottom: 12px;
	padding-left: 16px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
	border-radius: 8px;
	border: 1px solid rgba(217.0000022649765,217.0000022649765,217.0000022649765,1);
}
.Wireframe1_Wireframe1 .FormLogIn .InputField_1 .Input_1 .Value_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 394px;
	height: 16px;
	color: rgba(179,179,179,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Wireframe1_Wireframe1 .FormLogIn .InputField_1 .Error_1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 8px;
	width: 37px;
	height: 22px;
	color: rgba(30,30,30,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.399999618530273px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup {
	position: relative;
	flex: none;
	margin-bottom: 24px;
	align-self: stretch;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 16px;
	width: 112px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button .Star {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 8px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button .Star .Icon {
	position: absolute;
	left: 1.3333282470703125px;
	top: 1.3333740234375px;
	width: 83.33333134651184%;
	height: 79.25000190734863%;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button .Button_1 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 51px;
	height: 16px;
	color: rgba(48,48,48,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button .X {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 8px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button .X .Icon_1 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 50%;
	height: 50%;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button_2 {
	position: relative;
	flex: none;
	margin-right: 16px;
	width: 426px;
	background: rgba(59,131,63,1.00);
	border: 1px solid rgba(86.00000247359276,174.00000482797623,90.00000223517418,1);
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button_2 .Star_1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 8px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button_2 .Star_1 .Icon_2 {
	position: absolute;
	left: 1.3333282470703125px;
	top: 1.3333740234375px;
	width: 83.33333134651184%;
	height: 79.25000190734863%;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button_2 .Button_3 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 52px;
	height: 16px;
	color: rgba(245,245,245,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button_2 .X_1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: 8px;
}
.Wireframe1_Wireframe1 .FormLogIn .ButtonGroup .Button_2 .X_1 .Icon_3 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 50%;
	height: 50%;
}
.Wireframe1_Wireframe1 .FormLogIn .TextLink {
	position: relative;
	flex: none;
	margin-bottom: 24px;
	align-self: stretch;
}
.Wireframe1_Wireframe1 .FormLogIn .TextLink .TextLink_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 136px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.399999618530273px;
}
.Wireframe1_Wireframe1 .MyPrescriptions {
	position: absolute;
	left: 270px;
	top: 77px;
	width: 900px;
	height: 164px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(59,131,63,1.00);
	font-family: Roboto;
	font-size: 96px;
	font-weight: 700;
	line-height: 16px;
}